# Dependencies
node_modules/
.pnp
.pnp.js

# Build and Production
build/
dist/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Test Coverage
coverage/
.nyc_output/

# Project Specific Ignored Files
proof_screenshots/
